.user-interraction {
    display: table;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 10px;
    float: left;
    width: 35%;
    padding-right: 20px;
    margin-top: 95px;
}


/* SEARCH BOX */
.user-query {
    width: 100%;
}

.search-box {
    width: 90%;
    float: left;
    margin-left: 3px;
}

.search-button {
    width: 10%;
    float: right;
    margin-right: 3px;
}

/* OUTPUT MESSAGE */
.output-message {
    color: red;
    padding-top: 40px;
}


/* PARAMETERS  */
.parameters-row {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.parameters-col-title {
    display: table-column;
    float: left;
    background-color: #ccc;
    width: 20%;
    font-size: 8pt;
}

.parameters-col-slider {
    display: inline-block table-column;
    margin: 0 auto;
    background-color: #ccc;
    width: 50%;
}

.parameter-col-value {
    display: table-column;
    width: 20%;
    float: right;
    margin: 0 auto;
}

.slider {
    width: 90%;
}

.slider:hover {
    /* Fully shown on mouse-over */
    opacity: 1;
}
