.user-interraction {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 10px;
    float: left;
    width: 20%;
    padding-right: 20px;
}

.user-query {
    width: 100%;
}

.search-box {
    width: 75%;
    float: left;
    margin-left: 3px;
}

.search-button {
    width: 20%;
    float: right;
    margin-right: 3px;
}

.parameters-row {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.parameters-col-title {
    display: table-column;
    float: left;
    background-color: #ccc;
    width: 50px;
    font-size: 8pt;
}

.parameters-col-slider {
    display: inline-block table-column;
    margin: 0 auto;
    background-color: #ccc;
    width: 100px;
}

.parameter-col-value {
    width: 10px;
    float: right;
}

.slider {
    width: 90%;
}

.slider:hover {
    /* Fully shown on mouse-over */
    opacity: 1;
}
